{% load static %}
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'appointHistory.css' %}">

<title> Patient's Appointment History </title>
</head>

<body>
  <div class="sidenav">
    <a href="{% url 'patient_home' %}">Dashboard</a>
    <a href="{% url 'book_Appointment' %}">Book Appointment</a>
    <a href="{% url 'appointHistory' %}">Appointment History</a>
  </div>
<div class="container">
<div style = "background-image: url ('img.jpg');"  >
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title" style="padding-top: 50px; padding-left: 200px;"><center>WELCOME ! YOUR APPOINTMENTS</center></h2>
    </div>
    <center>
        <table class="table table-hover" border=1 style="padding-left: 200px;" id="dev-table">
      <thead>
        <tr>
            <th>Patient Name</th>
            <th>Doctor Name</th>
            <th>Consultancy Fees</th>
            <th>Appointment Date</th>
            <th>Appointment Time</th>
        </tr>
      </thead>
      {% for x in appointments %}
            <tr>
                <td>{{ x.pat_name }}</td>
                <td>{{ x.doc_name }}</td>
                <td>{{ x.fee }}</td>
                <td>{{ x.date }}</td>
                <td>{{ x.time }}</td>
            </tr>
        {% endfor %}
      
    </table></center>
  </div>
</div>

</body>
</html>
