.sidenav {
  height: 100%; 
  width: 213px; 
  position: fixed; 
  z-index: 1; 
  top: 86; 
  left: 0;
  overflow-x: hidden; 
  padding-top: 100px;
}

.sidenav a {
  padding: 6px 14px 15px 16px;
  text-decoration: none;
  font-size: 20px;
  color:white;
  display: block;
}

.sidenav a:hover {
  color: rgb(240, 222, 62);
}
  
  
  .main {
    margin-left: 160px; 
    padding: 0px 10px;
  }
  
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  th, td {
    width: 15em;
  }
      p {
        text-align: center;
  
      }
  body {
  background-size: cover;
  } 
 
a.active, a:hover{
  background-color: #bf5b13;
  transition: 5s;
}

.sidenav a:hover {
  color: rgb(240, 222, 62);
}

a.active{
  color:rgb(240, 222, 62);
  transition: .5s;
}

