.sidenav {
    height: 100%; 
    width: 200px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 100px;
  }
  
  .sidenav a {
    padding: 6px 14px 15px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  
  .main {
    margin-left: 160px; 
    padding: 0px 10px;
  }
  
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  th, td {
    width: 15em;
  }
      p {
        text-align: center;
  
      }
  body {
    background-image: url('img.jpg');
  background-size: cover;
  //color: white;
  }  