{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medwin Cares</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'lists.css' %}">
    <style>
      body{
        background-image : url("{% static 'bgimage.jpeg' %}");
      }
    </style>
</head>
<body>
    <nav>
        <img id="logoimg" src="{% static 'logo.png' %}" alt="logo">
        <ul>
            <label class="logo">Medwin Cares</label>
            <li><a href="{% url 'logoutUser' %}">Logout</a></li>
        </ul>
    </nav>
    <div class="container">
      <h1 class="head"> Welcome {{ request.user.first_name|upper }} {{ request.user.last_name|upper }}</h1>
       
            <div class="sidenav">
              <a href="{% url 'admin_home' %}">Dashboard</a>
              <a href="{% url 'doctorsList' %}">Doctor List</a>
              <a class="active" href="{% url 'patientsList' %}">Patient List</a>
              <a href="{% url 'appointHistoryAd' %}">Appointment Details</a>
              <a href="{% url 'addDoctor' %}">Add Doctor</a>
              <a href="{% url 'removeDoc' %}">Remove Doctor</a>
              <a href="#">Messages</a>
            </div>
            <img src="{% static 'dashlogo.png' %}"  alt="dashlogo" class="dashlogo">
            
            <table class="table table-hover" border=1 style="padding-left: 250px;" id="dev-table">
                <thead>
                  <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email</th>
                </tr>
            </thead>
            {% for x in patientsList %}
                    <tr>
                        <td>{{ x.first_name }}</td>
                        <td>{{ x.last_name }}</td>
                        <td>{{ x.email }}</td>
                    </tr>
            {% endfor %}
              </table>
</body>
</html>